@import "compass/reset";

$min: 0;
$max: 2500;

.rainbow {
	position: absolute;
	width: 100%; height: 100%;

	&:after {
		display: block;
		
		position: absolute;
		top: 40%;
		width: 100%;

		// font: 6em/1 "Lucida Sans Unicode", "Courier", monospace;
		font: italic 6em/1 "Georgia", serif;
		text-shadow: 0 1px rgba(white, .2);
		text-align: center;
		color: #444;
	}
}

@mixin breakpoint($hue, $sat, $lightness, $val_in_px) {
	@media (min-width: $val_in_px) {
		.rainbow {
			background: unquote('hsl(#{$hue}, #{$sat}%, #{$lightness}%)');

			&:after {
				content: '#{$val_in_px}';
			}
		}
	}
}

@for $i from $min through $max {
	@include breakpoint(#{($i / $max) * 100}, #{($i / $max) * 100}, #{($i / $max) * 100}, #{$i}px);
}